<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Foodsapp"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".composefoods.activitys.MainActivity"
            android:exported="true"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.Foodsapp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- <activity -->
        <!-- android:name="cn.example.foods.activity.MyActivity" -->
        <!-- android:parentActivityName="cn.example.foods.activity.MainActivity"> -->
        <!-- <meta-data -->
        <!-- android:name="android.support.PARENT_ACTIVITY" -->
        <!-- android:value="cn.example.foods.activity.MainActivity" /> -->
        <!-- </activity> -->
        <!-- <activity android:name="cn.example.foods.activity.OrderActivity" android:parentActivityName="cn.example.foods.activity.FoodsActivity"> -->
        <!-- <meta-data -->
        <!-- android:name="android.support.PARENT_ACTIVITY" -->
        <!-- android:value="cn.example.foods.activity.FoodsActivity" /> -->
        <!-- </activity> -->
        <!-- <activity android:name="cn.example.foods.activity.FoodsActivity" android:parentActivityName="cn.example.foods.activity.MainActivity"> -->
        <!-- <meta-data -->
        <!-- android:name="android.support.PARENT_ACTIVITY" -->
        <!-- android:value="cn.example.foods.activity.MainActivity" /> -->
        <!-- </activity> -->
        <!-- <activity android:name="cn.example.foods.activity.MyOrderActivity" android:parentActivityName="cn.example.foods.activity.MyActivity"> -->
        <!-- <meta-data -->
        <!-- android:name="android.support.PARENT_ACTIVITY" -->
        <!-- android:value="cn.example.foods.activity.MyActivity" /> -->
        <!-- </activity> -->
        <!-- <activity android:name="cn.example.foods.activity.MainActivity" -->
        <!-- android:theme="@style/Theme.AppCompat.Light.NoActionBar"> -->
        <!-- </activity> -->
        <!-- <activity -->
        <!-- android:name="cn.example.foods.activity.RegActivity" -->
        <!-- android:theme="@style/Theme.AppCompat.Light.NoActionBar" /> -->

    </application>

</manifest>